<footer class="bg-dark text-white pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>About Us</h5>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>

      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li>
            <a routerLink="/" class="text-white text-decoration-none">Home</a>
          </li>
          <li>
            <a routerLink="/about" class="text-white text-decoration-none">
              About Us
            </a>
          </li>
          <li>
            <a routerLink="/services" class="text-white text-decoration-none">
              Services
            </a>
          </li>
          <li>
            <a routerLink="/contact" class="text-white text-decoration-none">
              Contact
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 mb-3">
        <h5>Contact Us</h5>
        <p><i class="fas fa-map-marker-alt"></i> 123 Street, City, Country</p>
        <p><i class="fas fa-phone"></i> +123 456 789</p>
        <p><i class="fas fa-envelope"></i> info@jobspot.com</p>
        <div class="social-icons">
          <a
            href="https://www.facebook.com"
            target="_blank"
            rel="noopener noreferrer"
            class="text-white me-3"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="https://www.twitter.com"
            target="_blank"
            rel="noopener noreferrer"
            class="text-white me-3"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            href="https://www.linkedin.com"
            target="_blank"
            rel="noopener noreferrer"
            class="text-white me-3"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a
            href="https://www.instagram.com"
            target="_blank"
            rel="noopener noreferrer"
            class="text-white"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col text-center py-3">
        <p class="mb-0">© 2024 JobSpot. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
